name: websocket
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  stomp_dart_client: ^2.0.0
  web_socket_channel: ^3.0.1
#  stomp_dart_client: ^0.4.4
  uuid: ^3.0.7
  intl: ^0.17.0
  http: ^1.2.0

  cupertino_icons: ^1.0.8

dev_dependencies:

  flutter_test:
    sdk: flutter


  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

